body
{
    background-color: bisque;
}


.container
{
    width: 70%;
    margin: auto;
    text-align: center;
}

h1
{
    font-size: 80px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:salmon;
}

.dice
{
    text-align: center;
    display: inline-block;   
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:salmon;
}